header {
    background-color: rgb(255, 158, 31);
    text-align: center;
    margin: auto;
    font-family: kanit;
    padding: 20px;
    color: white;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 20px;
}

nav a:hover{
    background: rgb(0, 53, 40);
    border-radius: 50px;
}
