@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./header.css');
@import url('./footer.css');

* {
    margin: 0;
    padding: 0;
}


body {
    background: url(../img/backgroundImage.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



.displayCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.cardCharacters{
    width: 300px;
    height: 400px;
    border: grey 2px solid;
    margin: 20px;
    background-color: rgb(197, 95, 0);
    color: white;
}

.cardPlanets {

}

.card img{
    width: 150px;
    height: auto;
    margin: 0 auto;
}

.card-img-top {
    width: 150px;
    height: auto;
    margin: 0 auto;
}




